body {
  background-color: white;
  margin: 0;
}
footer {
  text-align: center;
  padding-bottom: 1.5rem;
  background-color: pink;
}

/* ------------ SKRIFT & FONTE ------------ */
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  color: pink;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 0;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  color: #333;
  margin-left: 10px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 30px;
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  color: #333;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 10px;
  text-align: center;
}
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: #333;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 0;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
.footer_text {
  color: white;
  padding-top: 1.7rem;
}

/* -------- HEADER - taget fra tema 3 opgaven ------------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4% 2% 4%;
}

.logo img {
  width: 200px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: large;
}

.menu a:hover {
  color: rgb(232, 94, 206);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* ----------- TEMA 2 ------------ */
/* -------- BILLEDER og grid------------ */
.computer_cutout {
  width: 400px;
  height: 270px;
  margin-left: 20px;
}
@media screen and (min-width: 800px) {
  .grid1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}
.grid1 {
  align-items: center;
}

.pink_box {
  background-color: rgb(253, 211, 218);
  padding: 5%;
  max-width: 85%;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 25px;
  text-align: center;
}

.gestalt {
  width: 500px;
  height: 170px;
  margin-bottom: 30px;
  align-items: center;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(253, 211, 218);
  padding: 1rem;
}

.p_ul {
  margin-top: 70px;
}
.h4_tema2 {
  text-align: center;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
}
/* -------- KNAP ------------ */
.knap {
  background-color: white;
  padding: 0.8rem 0.5rem;
  border-radius: 50px;
  width: 200px;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  color: palevioletred;
  cursor: pointer;
}

/* ----------- GRÅ BOKS ------------ */
.container {
  background-color: rgb(224, 222, 222);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  box-sizing: border-box;
}

/* ----------- TEMA 3 ------------ */
@media screen and (min-width: 800px) {
  .hero {
    height: 200px;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .hero_billede {
    height: 200px;
    width: 800px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 800px) {
  .hero {
    background-color: pink;
  }
  .hero_billede {
    height: 180px;
    width: 500px;
  }
}
.hvid_h1 {
  color: white;
}
.p_design {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .wireframe_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
    height: 400px;
    background-color: rgb(253, 211, 218);
    border-radius: 50px;
  }
}
.wireframe_billede {
  height: 320px;
  width: 400px;
  margin: 3rem;
  border-radius: 10px;
}
.p_wireframe {
  margin-top: 4rem;
  margin-right: 5rem;
}
.h4_wireframe {
  margin-top: 4rem;
}
.p_ux {
  margin-right: 3rem;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .kie_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
    padding: 3rem;
    height: 300px;
    background-color: rgb(253, 211, 218);
    border-radius: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .kie_grid {
    text-align: center;
    background-color: rgb(253, 211, 218);
    padding: 2rem;
  }
  .wireframe_grid {
    text-align: center;
  }
}
.kie_logo {
  height: 250px;
}
.h3_kie {
  margin: 0;
}
.p_kie {
  font-size: 0.9rem;
}

/* ----------- TEMA 4 ------------ */
/* ----------- FRØ ------------ */
#frog_element {
  width: 25%;
  aspect-ratio: 451/554;
  position: absolute;
  top: 25%;
  left: 60%;
}
#frog_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(billeder/pink_frog.svg);
}
/* ----------- lyserød box og grid rundt om den ------------ */
@media screen and (min-width: 800px) {
  .grid2_tema4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
    padding-left: 2rem;
  }
}
.pink_box_tema4 {
  background-color: rgb(253, 211, 218);
  padding: 5%;
  max-width: 85%;
  border-radius: 25px;
  text-align: center;
}

.h2_tema4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  color: #333;
  margin-left: 10px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.liste {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grå_boks {
  background-color: rgb(224, 222, 222);
  text-align: center;
  padding: 0.5rem;
}
.pink_boks_spil {
  background-color: rgb(253, 211, 218);
  padding: 3%;
  padding-top: 1%;
  max-width: 85%;
  border-radius: 25px;
  text-align: center;
  margin: 30px;
}
.p_konventioner {
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
}

.animationer {
  height: 200px;
  margin-left: 20px;
}

.animationer_tema4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  padding-left: 2rem;
}
.p_animation {
  margin-right: 60px;
}

/* ----------- TEMA 5 ------------ */
.grid_vicuras {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.vicuras {
  margin-left: 50px;
  height: 700px;
  width: 350px;
}
